.list {
  border-color: black;
  margin-top: 10px;
  border-radius: -500px -500px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 0, 0);
}
ul {
  margin: 0%;
  padding: 0%;
}

li {
  border: 1px solid black;
  list-style: none;
  font-weight: bold;
  text-align: center;
  /* border-radius: 12px;
  padding: 100px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #4b4b4b; */
  padding: 1rem;
  border-radius: 25px 25px 25px 25px;
  background-color: white;
  margin: 2rem auto;
  width: 30rem;
  max-width: 95%;
}
